
.main {
  height: 100vh;
}

.container {
  width: 50%;
  height: 60%;
}

.slider {
  position: relative;
}

.btn_sp {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 47%;
  transform: translateY( 50%,  50%);
  background-color: rgba(238, 232, 232, 0.8);
}


.btn_sp:hover {
  background-color: black;
  color: white;
}

 .btn_sp.button-top {
    bottom: 85%;
  }

  .btn_sp.button-bottom {
    top: 85%;
  }


  .hide {
    display: none;
  }